---
layout: layouts/base.njk
---

<h1>Posts</h1>

{% set posts = search.pages("type=post", "date=desc") %}

<ul aria-label="List of Posts">
{% for post in posts %}
  {% set title = post.data.metas.title %}
  {% set url   = post.data.url %}
  {% set time  = post.data.date | date %}

  <li aria-label="{{ title }}">
    <time datetime="{{ time }}" aria-label="Publishing date">{{ time }}</time>
    <a href="{{ url }}">{{ title }}</a>
  </li>
{% endfor %}
</ul>