@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("/static/fonts/JetBrainsMono.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrainsMono";
  font-style: italic;
  font-weight: 100 800;
  font-display: swap;
  src: url("/static/fonts/JetBrainsMono-Italic.woff2") format("woff2");
}

:root {
  /* Utopia font */
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,21,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7381rem, 0.7166rem + 0.1076vw, 0.8rem);
  --step--1: clamp(0.8856rem, 0.8458rem + 0.1989vw, 1rem);
  --step-0: clamp(1.0625rem, 0.9973rem + 0.3261vw, 1.25rem);
  --step-1: clamp(1.275rem, 1.175rem + 0.5vw, 1.5625rem);
  --step-2: clamp(1.53rem, 1.3828rem + 0.7359vw, 1.9531rem);
  --step-3: clamp(1.8363rem, 1.6258rem + 1.0522vw, 2.4413rem);
  --step-4: clamp(2.2031rem, 1.9079rem + 1.4761vw, 3.0519rem);
  --step-5: clamp(2.6438rem, 2.2364rem + 2.037vw, 3.815rem);

  --bg: #fbf7f0;
  --tx: black;
  --tx-dim: #2d0000;
  --accent: #970101;
  --accent-dim: #6a0101;

  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'case' 1, 'zero' 1, 'ss01' 1, 'ss02' 1;
  line-height: 1.5;
}

header img {
  filter: invert(1);
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0d0e1c;
    --tx: white;
    --tx-dim: #dae7ff;
    --accent: #82b0ec;
    --accent-dim: #6285b3;
  }

  .icon {
    filter: invert(1);
  }

  header img {
    filter: invert(0);
  }

}

@media print {
  :root {
    --bg: white;
    --tx: black;
    --tx-dim: black;
    --accent: black;
    --accent-dim: black;
  }

  nav {
    display: none;
  }

  body > hr {
    display: none;
  }
}

code {
  font-family: "JetBrainsMono";
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;

  margin: 0;

  font-size: var(--step-0);
  color: var(--tx-dim);
  background: var(--bg);
}

h1,h2,h3,h4,h5,h6,code {
  color: var(--tx);
  margin-bottom: 0;
}

h1 {
  font-size: var(--step-3);
}

h2,h3,h4 {
  font-size: var(--step-2);
}

a {
  color: var(--accent);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  text-rendering: optimizeLegibility;
}

main,
header,
body > div,
hr {
  margin: auto;

  max-width: min(100% - 2rem, 65ch);
  width: 100%;
}

header {
  padding-top: 1em;
  line-height: 0;
}

header * {
  font-size: var(--step-0);
}

header img, .intro svg {
  display: inline-block;
  width: auto;
  margin-right: 0.25em;
  height: 1.2em;
}

header a {
  display: flex;
  align-items: center;
}

/* index styling */

.posts ul, .intro ul, .projects ul {
  padding: 0;
}

.posts li, .intro li, .projects li {
  list-style: none;
}

.posts time {
  display: block;
}

svg {
  max-width: 100%;
}

.intro li {
  display: flex;
  align-items: stretch;
}

.intro a span {
  color: var(--accent-dim);
}

h1,h2,h3,h4 {
  line-height: 1.1;
}

/* /posts styling */

.post > ul {
  margin-top: 1.25em;
  margin-bottom: 0.25em;
  font-size: var(--step--1);
}

.post h1 {
  margin-top: 0;
}

.post > ul {
  list-style: none;
  padding: 0;
}

.post > ul > li {
  display: inline;
  white-space: nowrap;
}

.post > ul > li:not(:first-child)::before {
  content: ' * ';
}

hr {
  border-top: 0;
  border-bottom: 1px var(--tx-dim) dashed;
  margin-bottom: 1em;
}

nav ul {
  padding-left: 1em;
  margin-top: 0;
}

body > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

footer {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.25em;

    margin: 0;
  }
}

.icon {
  width: 1em;
}

:root {
  --shiki-color-text: var(--tx);
  --shiki-color-background: var(--bg);
  --shiki-token-constant: #0000b0;
  --shiki-token-string: #3548cf;
  --shiki-token-comment: #7f0000;
  --shiki-token-keyword: #531ab6;
  --shiki-token-parameter: var(--tx);
  --shiki-token-function: var(--tx);
  --shiki-token-string-expression: #3548cf;
  --shiki-token-punctuation: var(--tx);
  --shiki-token-link: var(--tx);
}

@media (prefers-color-scheme: dark) {
  :root {
    --shiki-color-text: var(--tx);
    --shiki-color-background: var(--bg);
    --shiki-token-constant: #00bcff;
    --shiki-token-string: #79a8ff;
    --shiki-token-comment: #ff9f80;
    --shiki-token-keyword: #b6a0ff;
    --shiki-token-parameter: var(--tx);
    --shiki-token-function: var(--tx);
    --shiki-token-string-expression: #79a8ff;
    --shiki-token-punctuation: var(--tx);
    --shiki-token-link: var(--tx);
  }
}

.contact .icon {
  margin-right: 0.25em;
}

.contact li {
  
}
