---
import BaseLayout from '../../layouts/BaseLayout.astro';

interface Frontmatter {
  title: string;
  author: string;
  date: string;
  image: string;
}

const posts = await Astro.glob<Frontmatter>('./*.mdx');
---

<BaseLayout title="Posts">
  {posts.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
  <p>Heya</p>
</BaseLayout>
