<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:description" content="{{ page.description | default: site.description  }}">

<link rel="cononical" href="{{ page.url | absolute_url }}" />

 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100..900&family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 

<title>{{ page.title }} - {{ site.title }}</title>
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

<link rel="stylesheet" href="{{ "/assets/css/theme.css" | relative_url }}">
