{% assign currentPath = page.url | split: '/' | pop %}

{% assign parentName = currentPath | last %}
{% if currentPath.size == 1 %}
  {% assign parentName = "Home" %}
{% endif %}

<header>
  <nav class="menu">
    <ul>
      <li id="home">
        <a href="/">
          {{ site.title }}
        </a>
      </li>

      {% if page.url != "/index" %}
      <li id="backLink">
        <a href="{{ site.url }}{{ currentPath | join: '/' }}">Back to {{ parentName | capitalize }}</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</header>
