:root {
	--bg: #1a1a1a;
	--bg-alt: #1a1a1a;

	--fg: #eeeeee;
	--fg-alt: #aaaaaa;

	--accent: #ffbd64;
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

main,
header,
footer {
	max-width: min(calc(100% - 1rem), 67ch);
	padding-left: 1ch;
	padding-right: 1ch;
	width: 100%;
	border: 1px solid var(--fg-alt);
	margin: auto;
}

* {
	box-sizing: border-box;
}

img,svg,video {
	max-width: 100%;
}

main {
	background-color: var(--bg);
	box-shadow: 0 0 0 1rem var(--bg);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

body {
	background-color: var(--bg-alt);
	color: var(--fg);

}

html {
	font-family: "Atkinson Hyperlegible", system-ui, sans-serif;
	font-size: 110%;
}

a {
	color: var(--accent);
	text-decoration: underline;
}

a:focus,
a:hover {
	color: var(--bg);
	background: var(--accent); 
	outline: 1px solid var(--accent);
}

h1,h2,h3,h4,h5 {
	color: var(--accent);
}

header {
	background-color: var(--bg);
}

mark {
	color: var(--bg);
	background: var(--accent);
}
