$ff-content:
    "Atkinson Hyperlegible",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
$ff-monospace:
    "IBM Plex Mono",
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;

$fs-xl: 48px;
$lh-xl: 50px;

$fs-lg: 36px;
$lh-lg: 40px;

$fs-md: 24px;
$lh-md: 30px;

$fs-sm: 19px;
$lh-sm: 25px;

$fs-xs: 16px;
$lh-xs: 20px;

$w-max: $fs-md * 40;
$w-full: calc(100% - $fs-md * 2);


