@use "./reset";
@use "./_variables" as *;

header {
    font-family: $ff-content;
    font-size: $fs-xl;
}

body {
    font-family: $ff-content;

    font-size: $fs-sm;
    line-height: $lh-sm;

    > * {
        max-width: min($w-max, $w-full);
        margin: auto;
    }
}

footer {
}

main {
}
