---
import { getCollection } from 'astro:content';
import BaseLayout from '$/layouts/Base.astro';
import FormattedDate from '$/components/FormattedDate.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('writings');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout content={entry.data}>
  <header>
    <h1>{entry.data.title}</h1>
    <div>
      <FormattedDate date={entry.data.date} />
      <hr />
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        >CC BY-NC-SA 4.0</a
      >
    </div>
  </header>
  <article>
    <Content />
  </article>
</BaseLayout>

<style>
  h1 {
    margin-bottom: var(--space-2xs);
    font-weight: 800;
  }

  div {
    font-size: var(--step--1);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: var(--space-s);
    color: var(--tx-dim);
  }
</style>
