---
import { getCollection } from 'astro:content';
import BaseLayout from '$/layouts/Base.astro';
import FormattedDate from "$/components/FormattedDate.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection('writings');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout content={entry.data}>
  <div>
    <FormattedDate date={entry.data.date}/>
  </div>
  <h1>{entry.data.title}</h1>
  <Content />
</BaseLayout>

<style>
  h1 {
    margin-top: 0;
  }

  div {
    font-size: var(--step-1);
  }
</style>
