*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff-content: "Chivo", sans-serif;
  --ff-mono: "Chivo Mono", mono;
}

body {
  font-family: var(--ff-content);
}
