/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,video,audio,svg {
  max-width: 100%;
  height: auto;
}

/* Variables */

/** Font **/
:root {
  --ff-content: 'IBM Plex Sans', sans-serif;
  --ff-mono: 'IBM Plex Mono', monospace;
  --ff-display: 'Amarante', serif;

  --fs-l: 24px;
  --fs-m: 18px;
  --fs-s: 12px;

  --fs-h1: 48px;
  --fs-h2: 42px;
  --fs-h3: 36px;
  --fs-h4: 30px;
  --fs-h5: 24px;
}

/** Sizing **/
:root {
  --vw-main: calc(var(--fs-m) * 40);
  --vw-max: calc(100% - 2 * var(--fs-m));
  --vw-full: 100%;

  --vw-figure: calc(var(--fs-m) * 60);
  --vw-code: calc(var(--fs-m) * 42);

  --sp-s: 9px;
  --sp-m: 18px;
  --sp-l: 36px;
}

/** Theme **/
:root {
  --bg-main: #deffef;
  --fg-main: #2e2e2e;

  --bd-main: #96d6b7;

  --bg-dim: #c7eddb;
  --fg-dim: #829181;

  --bg-code: var(--bg-dim);
  --fg-code: var(--fg-main);

  --bg-header: var(--bg-dim);
  --fg-header: var(--fg-dim);

  --bg-footer: var(--bg-dim);
  --fg-header: var(--fg-dim);

  --bg-accent: #f0f2d4;
  --fg-accent: #93b259;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #1a3628;
    --fg-main: #d8f1e5;

    --bd-main: #165937;

    --bg-dim: #152c21;
    --fg-dim: #9da9a0;

    --bg-code: var(--bg-dim);
    --fg-code: var(--fg-main);

    --bg-header: var(--bg-dim);
    --fg-header: var(--fg-dim);

    --bd-header: var(--bd-main);

    --bg-footer: var(--bg-dim);
    --fg-header: var(--fg-dim);

    --bg-accent: #3c4841;
    --fg-accent: #a7c080;
  }
}

@media print {
  :root {
    --bg-main: white;
    --fg-main: black;

    --bd-main: gray;

    --bg-dim: gray;
    --fg-dim: darkgray;

    --bg-code: white;
    --fg-code: black;

    --bg-header: white;
    --fg-header: black;

    --bg-footer: white;
    --fg-footer: black;

    --bg-accent: yellow;
    --fg-accent: darkyellow;
  }
}


/* Main */

body {
  margin: 0;

  font-family: var(--ff-content);
  font-size: var(--fs-m);
  line-height: 1.4;

  background-color: var(--bg-main);
  color: var(--fg-main);
}

.container {
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: var(--sp-l);
  align-items: center;
}

header,
footer {
  width: 100%;
}

header > *,
footer > *,
main   > * {
  margin: auto;

  max-width: min(var(--vw-main), var(--vw-max));
  width: 100%;
}

main {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  gap: var(--sp-m);
}

/* Header */
.skip-link {
  position: absolute;
  left: -500px;
}

.skip-link:hover,
.skip-link:active,
.skip-link:focus {
  left: 90px;
}

header {
  padding: var(--sp-m) 0;
}

.menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: var(--sp-s);
  padding: 0;
  align-items: center;
}

#home {
  font-family: var(--ff-display);
  font-size: 40px;
  text-shadow: 2px 0 var(--bd-header), -2px 0 var(--bd-header), 0 2px var(--bd-header), 0 -2px var(--bd-header),
               1px 1px var(--bd-header), -1px -1px var(--bd-header), 1px -1px var(--bd-header), -1px 1px var(--bd-header);
}

#backLink {
  padding: 2px 4px;
  border-radius: 9px;
  border: 1px solid var(--bd-main);
  background-color: var(--bg-dim);
}


/* Element Theme */

a {
  color: var(--fg-accent);
}

a.anchor {
  text-decoration: none;
  color: inherit;
}

mark {
  background: var(--bg-accent);
  color: inherit;
}

pre,code,kdb {
  font-family: var(--ff-mono);
  font-size: inherit;
}

/** Table of Contents **/
.toc summary {
  padding: var(--sp-s);
  border: 1px solid var(--bd-main);
  background-color: var(--bg-dim);
}

.toc nav {
  background-color: var(--bg-code);
  padding: var(--sp-s);
  border: 1px solid var(--bd-main);
  border-top: none;
}

/** Lists **/

ul,ol {
  padding-left: 1em;
}

/** Headers **/
h1,h2,h3,h4,h5,h6{
  line-height: 1;
}

h2,h3,h4,h5,h6 {
  padding-top: var(--sp-m);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

/** Tables **/
.table-block {
  text-align: left;
  max-width: min(var(--vw-main), var(--vw-full));
}

table {
  width: 100%;

  border: 1px solid var(--bd-main);
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: var(--bg-dim);
}

td,th {
  padding: var(--sp-s);
}

th {
  color: var(--fg-accent);
}

tr {
  background-color: var(--bg-dim);
}

tbody tr:nth-child(odd) {
  background-color: var(--bg-main);
}

/** Figures **/
figure,
.video-block,
.image-block {
  max-width: min(var(--vw-figure), var(--vw-full));

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-s);
}

figcaption {
  color: var(--fg-dim);
}

/** Listing Blocks (code blocks) **/
.listing-block {
  max-width: min(var(--vw-code), var(--vw-full));

  display: flex;
  flex-direction: column;
  gap: var(--sp-s);
  justify-content: center;

  border: 1px solid var(--bd-main);
}

.listing-block pre {
  width: 100%;

  padding: var(--sp-m) var(--sp-m);

  line-height: 1.1;

  overflow: scroll;
}

/** Details/Summary **/
.admonition-block {
  width: 100%;
  background-color: var(--bg-main-dim);
}

/* Print Settings */

@media print {
  header {
    display: none;
  }

  .toc {
    display: none;
  }

  a::after {
    content: '(' attr(href) ')'
  }
}
