---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("May 18 2024")}
>
  <p>About Me</p>

  <p>Interests</p>

  <p>Other (my tools, resume)</p>
</Layout>
