---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Homepage">
  <section>
    <h2>Latest Posts</h2>
  
    <article>a</article>
    <article>b</article>
    <article>c</article>
    <article>d</article>
    <article>e</article>
    <article>f</article>
    <article>g</article>
  </section>

  <section>
    <h2>About the author</h2>
  
    <p>Heya, I'm Thomas</p>
  </section>
</BaseLayout>

<style>
  h1 {
    text-align: center;
  }
</style>
