---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aeshus">
		<h1>Hello!</h1>

		<p>
			I'm Thomas, who goes by Aeshus in online circles.
		</p>

		<p>
			I'm a student who's studying Computer Science & Cybersecurity! I'm not super experienced, but I'm interested in Digital Forensics and Programming Language Theory!
		</p>

		<p>
			This website hosts my blog and projects for other people to see!
		</p>
</Layout>

