---
/* https://github.com/one-aalam/astro-ink */
import BaseLayout from '$/layouts/Base.astro';
import { getCollection, getEntryBySlug } from 'astro:content'

const title = 'Home'
const description = "Aeshus' Personal Website"

const posts = await getCollection('writings')
const sortedPosts = posts.sort((a, b) => new Date(b.date) - new Date(a.date));


sortedPosts.map((post) => {
  console.log(post.data.title);
});
---

<BaseLayout content={{ title, description }}>
  <h2>Latest Post</h2>

    {sortedPosts.map((post) => (
      <p><a href={"/writings/" + post.slug}>{post.data.title}</a></p>
    ))}
    
  <h2>Earlier Post</h2>
  <h2>Projects</h2>
</BaseLayout>
