---
/* https://github.com/one-aalam/astro-ink */
import BaseLayout from '$/layouts/Base.astro';
import FormattedDate from '$/components/FormattedDate.astro';
import { getCollection } from 'astro:content';

const title = 'Home';
const description = "Aeshus' Personal Website";

const posts = await getCollection('writings');
const sortedPosts = posts.sort((a, b) => (b.data.date).getTime() - (a.data.date).getTime());
---

<BaseLayout content={{ title, description }}>
  <h2>Writings</h2>
  {
    sortedPosts.map((post) => (
      <article aria-label={post.data.title}>
        <FormattedDate date={post.data.date} />
        <div>
          <a href={'/writings/' + post.slug}>{post.data.title}</a>
        </div>
      </article>
    ))
  }
  <h2>Projects</h2>
</BaseLayout>

<style>

</style>
