---

---

<div>
	<footer>
		© 2023 Thomas Wilson. All rights reserved.
	</footer>
</div>

<style>
	div {
		width: 100%;
		background-color: black;
		height: 3em;
	}

	footer {
	    max-width: 65rem;
	    width: 100%;
	    margin-inline: auto;
	    margin-left: 2rem;
	    margin-right: 2rem;
	}
</style>