---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <ul>
      <li>
        <HeaderLink href="/">{SITE_TITLE}</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/about">About</HeaderLink>
      </li>
    </ul>
  </nav>
</header>

<style>
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
</style>
