---
const url = Astro.url.pathname.split('/')[1];
const title = url ? url[0].toUpperCase() + url.slice(1) : null;

import { Image } from "astro:assets";
import pfp from "$/assets/favicon.svg";
---

<nav>
  <ul>
    <li aria-hidden="true">
      <a href="/" aria-hidden="true">
        <Image 
          src={pfp} 
          alt="Profile-picture" 
          aria-hidden="true" />
      </a>
    </li>
    <li>
      <a href="/" aria-label="Home"> Aeshus</a>
    </li>
    <span aria-hidden="true">
      {title && '·'}
    </span>
    { title &&
      <li>
        <a href={'/' + url}>
          {title}
        </a>
      </li>
    }
  </ul>
</nav>

<style>
  nav {
    line-height: 0;
  }

  ul {
    padding: 0;

    display: flex;
    align-items: center;
    gap: 0.25em;

    font-size: var(--step-0);
  }

  li {
    list-style: none;
  }

  img {
    display: inline-block;
    height: var(--step-0);
    width: auto;
  }

  @media (prefers-color-scheme: light) {
    img {
      filter: invert(1);
    }
  }
</style>
