---
const page = Astro.url.pathname.split('/')[0];
---

<header>
	<nav>
		<div>
			<a href="/" aria-current={page == "" ? "page" : undefined}>
				Thomas / Aeshus
			</a>
		</div>
		<ul>
			<li><a href="/posts" aria-current={page == "posts" ? "page" : undefined}>
				Posts
			</a></li>
			<li><a href="/projects" aria-current={page == "projects" ? "page" : undefined}>
				Projects
			</a></li>	
			<li><a href="/about" aria-current={page == "about" ? "page" : undefined}>
				About
			</a></li>	
		<ul>
	</nav>
</header>

<style>
</style>