---
// Get first part of URL
const page = Astro.url.pathname.split('/')[0];

---
<header>
	<div>
		<b><span>Thomas</span></b>
		<img src="/favicon.svg" alt="logo" />
		<b><span>Aeshus</span></b>
	</div>
	<nav>
		<a href="/" aria-current={page == "" ? "page" : undefined}>
			<b>Aeshus</b>
			<img src="/favicon.svg" alt="logo" />
			<b>Thomas</b>
		</a>
		<a href="/posts" aria-current={page == "latest" ? "page" : undefined}>
			Latest
		</a>
		<a href="/projects" aria-current={page == "posts" ? "page" : undefined}>
			Posts
		</a>
		<a href="/projects" aria-current={page == "projects" ? "page" : undefined}>
			Projects
		</a>
	</nav>
	<hr />
</header>

<style>

</style>
