---
const page = Astro.url.pathname.split('/')[0];
---

<header>
	<nav>
		<ul>
			<li><a href="/" aria-current={page == "" ? "page" : undefined}>
				Thomas
			</a></li>
			<li><a href="/posts" aria-current={page == "latest" ? "page" : undefined}>
				Latest
			</a></li>
			<li><a href="/projects" aria-current={page == "posts" ? "page" : undefined}>
				Posts
			</a></li>
			<li><a href="/projects" aria-current={page == "projects" ? "page" : undefined}>
				Projects
			</a></li>	
		<ul>
	</nav>
</header>

<style>
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		display: flex;
	}
	
	header {
		width: 100%;
		max-width: 50vw;
	}
</style>