---
import { getCollection } from 'astro:content';
import FormattedDate from '$/components/FormattedDate.astro';

const posts = await getCollection('projects');

// Sort based on end date, then on start date
const sortedPosts = posts.sort(
  (a, b) => (((b.data.endDate?.getTime() ?? Infinity) - (a.data.endDate?.getTime() ?? Infinity))
              || (b.data.startDate.getTime() - a.data.startDate.getTime()))
);
---

{
  sortedPosts.map((post) => (
    <article aria-label={post.data.title}>
      <div>
        <FormattedDate date={post.data.startDate} />
        -
        {post.data.endDate ? (
          <FormattedDate date={post.data.endDate} />
        ) : <span>Now</span>}
      </div>
      <div>
        <a href={'/projects/' + post.slug}>{post.data.title}</a>
      </div>
    </article>
  ))
}
