---
import { getCollection } from 'astro:content';
import FormattedDate from '$/components/FormattedDate.astro';

const posts = await getCollection('writings');
const sortedPosts = posts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

{
  sortedPosts.map((post) => (
    <article aria-label={post.data.title}>
      <FormattedDate date={post.data.date} />
      <div>
        <a href={'/writings/' + post.slug}>{post.data.title}</a>
      </div>
    </article>
  ))
}

<style>
  article {
    margin-bottom: var(--space-3xs);
  }
</style>
