---
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = await Astro.glob<Frontmatter>('./*.mdx');
---

<BaseLayout title="Projects">
  {posts.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
  <p>Heya</p>
</BaseLayout>
