---
import BaseLayout from '$/layouts/Base.astro';
import ProjectsList from '$/components/ProjectsList.astro';

const title = 'Home';
const description = "Aeshus' Personal Website";
---

<BaseLayout content={{ title: title, description: description }}>
  <h1>Projects</h1>
  <ProjectsList />
</BaseLayout>
