{{ range (where .Site.Pages "Section" "writings" ) }}
  {{ $post := index (.Pages.ByDate.Reverse) 0 }}

  {{ if $post }}
    {{ $date := $post.Date |  time.Format "2006-01-02" }}

    <a href="{{ $post.Permalink }}" style="text-decoration: none" aria-label="Latest Post ({{ $post.Title }})">
      <blockquote>    
        <article>
          <h3>{{ $post.Title }}</h3>
          <div><time dateTime="{{ $date }}">{{ $date}}</time> &middot; {{ $post.WordCount }} words &middot; {{ $post.ReadingTime }} minutes</div>
          <br />
          <div>
            {{ $post.Summary }} ...
          </div>
        </article>
      </blockquote>
    </a>
  {{ end}}
{{ end }}
