:root {
  /* Light Theme */
  --bg: white;
  --tx: #3a4145;
  --tx-head: black;
  --accent: #0069ff;

  /* Font options */
  --min-font: 18;
  --max-font: 20;
  --screen-min: 360;
  --screen-max: 1920;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Theme */
    --bg: #1f1f1f;
    --tx: #f0f0f0;
    --tx-head: white;
    --accent: #0069ff;
  }

  nav svg {
    filter: invert(1);
  }
}

html {
  color-scheme: light dark;

  /* Credit Tobias Ahlin 
     https://tobiasahlin.com/blog/responsive-fluid-css-type-scales/ */
  --font-size: calc(
    var(--min-font) * 1px +
      (
        (var(--max-font) - var(--min-font)) * (100cqw - var(--screen-min) * 1px) /
          (var(--screen-max) - var(--screen-min))
      )
  );
  font-size: clamp(
    var(--min-font) * 1px,
    var(--font-size),
    var(--max-font) * 1px
  );
}

body {
  background-color: var(--bg);
  color: var(--tx);

  margin: 0;
  width: 100vw;
  height: 100vh;

  text-rendering: optimizeLegibility;

  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Ubuntu, serif;
}

/* Page Layout */
main,
nav,
footer {
  margin: auto;

  max-width: min(100% - 2rem, 65ch);
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 1em;
  padding-bottom: 2em;
  font-size: 1.25rem;
}

nav > div > a > svg {
  width: 100%;
  height: 100%;

  margin: auto;
}

nav > div {
  max-width: min(50%, 20ch);
  width: 100%;
  gap: 1em;

  display: flex;
  justify-content: space-evenly;

  flex-wrap: wrap;

  padding-top: 1em;
}

main {
  padding-bottom: 2rem;
}

/* Element styling */

blockquote {
  margin: 0px;

  /* Should hopefully align with nearby lines */
  padding-left: 0.75ch;
  border-left: 0.25ch solid;
}

img {
  max-width: 100%;
  display: block;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, monospace;
}

/* Inline code */
code {
  border: 1px solid;
  padding: 0 1px;
}

/* Code-blocks */
pre code {
  border: 0;

  background-color: var(--bg);

  /* Fix overflow */
  display: block;
  overflow-x: auto;

  /* Should hopefully align with nearby lines */
  padding: 0.75ch;
  border: 0.25ch solid;
}

/* https://github.com/ncolas/normalize.css */
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* https://github.com/ncolas/normalize.css */
sub {
  bottom: -0.25em;
}

/* https://github.com/ncolas/normalize.css */
sup {
  top: -0.5em;
}

hr {
  border: 1px var(--tx) solid;
  margin: 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0;
  font-size: 1.4rem;
  color: var(--tx-head);
}

h1 {
  margin: 0;
  font-weight: 800;
  font-size: 2rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

p {
  margin: 0.5em 0 1em 0;
  line-height: 1.35;
}

a {
  color: inherit;
}

/* Index */
.postList,
.projectList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.postList time,
.projectList span {
  font-weight: 300;
  min-width: 11ch;
  display: inline-block;

  text-decoration: underline;
}

/* Posts */
header div {
  font-size: 1.2rem;
  font-weight: 300;
}
