<!DOCTYPE HTML>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.metas.title }}">
    <link rel="alternate" href="/feed.rss" type="application/rss+xml" title="{{ site.metas.title }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.metas.title }}">    
    <title>{{ metas.title or site.metas.title }}</title>

    <link rel="stylesheet" href="/site.css" />


    <!-- DELETE -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>
  <body>
    <header>
      <a href="/" aria-label="Home">
        <img height="50" width="50" src="/favicon.svg" alt="profile picture" aria-hidden="true" />Aeshus
      </a>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <hr>

    <div role="none">
      <nav id="nav">
        Navigation
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </nav>

      <footer>
        &copy; 2023 Thomas Wilson
        <div>Commit <a href="https://github.com/aeshus/aeshus.github.io/commit/{{ git.hash }}">{{ git.hash }}</a></div>
        <ul>
          <li><a href="/feed.rss"><img class="icon" src="/static/svg/rss.svg" /></a></li>
          <li><a href="/feed.xml"><img class="icon" src="/static/svg/atom.svg" /></a></li>
          <li><a href="/feed.json"><img class="icon" src="/static/svg/jsonfeed.svg" /></a></li>
          <li><a href="/sitemap.xml"><img class="icon" src="/static/svg/sitemap.svg" /></a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
