---
layout: layouts/base.njk
---

<article class="post">
  <ul aria-label="Post Metadata">
    <li aria-label="Post publishing date">
      <time dateTime="{{ date }}">{{ date | date }}</time>
    </li>
    <li aria-label="Post word length">
      {{ readingInfo.words }} words
    </li>
    <li aria-label="Post reading time">
      {{ readingInfo.minutes }} minutes
    </li>
  </ul>
  <h1>{{ metas.title }}</h1>

  <section>
    {{ content | safe }}
  </section>
</article>
