---
import BaseHead from "../components/BaseHead.astro"
import NavBar from "../components/NavBar.astro"
---

<html lang="en" dir="auto">
	<head>
		<BaseHead />
	</head>
	
	<body>
		<NavBar />
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
</style>