<ul class="projectList" aria-label="Project List">
  {{ range (where .Site.Pages "Section" "projects") }}
    {{ range .Pages.ByDate }}
      <li>
        {{ $start := .Params.start | time.AsTime | time.Format "2006" }}
        {{ $end := .Params.end | time.AsTime | time.Format "2006" }}

        <a href="{{ .Permalink }}" aria-label="{{ .Title }} ({{ $start }}-{{ $end }})">
          <span>
            <time dateTime="{{ $start }}">{{ $start }}</time> - <time dateTime="{{ $end }}">{{ $end }}</time>
          </span>
          {{ .Title }}
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>